/* Write your CSS here */
.account-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 5px;
}
.balance1-container {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: 15px;
}
.income-container {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.expenses-container {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
